<table id="history">
  <tr>
    <th>user_id</th>
    <th>restaurant_id</th>
    <th>reward</th>
  </tr>
    {{#each records}}
    <tr>
        <td>{{user_id}}</td>
        <td>{{restaurant_id}}</td>
        <td>{{timestamp}}</td>
        <td>{{reward}}</td>
    </tr>
    {{/each}}

</table>
